<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Play Hex</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="/static/js/script.js" type="application/javascript"></script>
	<script src="/static/js/grid.js" type="application/javascript"></script>
	<script src="/static/js/cell.js" type="application/javascript"></script>
	<script src="/static/js/searchtree.js" type="application/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div id="hex-grid" class="col col-2">
		<svg :width="boardWidth" :height="boardHeight">
			<g v-for="(row, ri) in grid" :key="ri">
				<hex-cell v-for="(cell, ci) in row"
					:key="ci"
					:x="ci"
					:y="ri"
					:color="cell"
					:playercolor="myColor"
					:playersturn="playersTurn"
					@clickreceived="onClickReceived"
				></hex-cell>
			</g>
		</svg>
	</div>
	<div id="absearch" class="col col-2">
		<ul>
			<node
				:modelindex="[]"
				:initialised="initialised"
			></node>
		</ul>
	</div>
</body>

</html>
