<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Select players</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="/static/js/select.js" type="application/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div id="select-player-wrap">
		<h1>Select players</h1>
		<select-player :color="'Red'"  @selection-change="onSelectionChange"></select-player>
		<select-player :color="'Blue'" @selection-change="onSelectionChange"></select-player>
		<div class="col col-1">
			<form>
				<input type="checkbox" id="watch" name="watch" v-model="watchInBrowser" :disabled="watchInBrowserDisabled">
				<label for="watch">Watch the match in this browser</label>
				<br>
				<label for="boardSize">Board size</label>
				<input type="number" id="boardSize" v-model="boardSize">
				<br>
				<label for="numGames">Number of games</label>
				<input type="number" id="numGames" v-model="numGames">
			</form>
		</div>
		<div class="col col-1">
			<button @click="clickPlayHandler" :disabled="!buttonActive">Play!</button>
			<p>{{ message }}</p>
		</div>
	</div>
</body>

</html>
