$blue-cell: #0F2F8C;
$red-cell: #A60303;
$empty-cell: #AAA;

$font-general: 'Open Sans', sans-serif;

$cell-size: 20px;

body {
	font-family: $font-general;
}

.col {
	float: left;

	&.col-1 {
		width: 100%;
	}

	&.col-2 {
		width: 50%;
	}
}

.section {
	max-width: 900px;
	margin: auto;
}

label {
	line-height: 1.7;
}

#hex-grid {
	.cell {
		stroke: black;
		stroke-width: 5;
	}

	.cell.active {
		cursor: pointer;
		opacity: 0.8;
	}

	.blue {
		fill: $blue-cell;
	}

	.red {
		fill: $red-cell;
	}

	.empty {
		fill: $empty-cell;
	}
}

.simple-board {
	position: fixed;
	right: 50px;
	top: 50px;

	.cell {
		width: $cell-size;
		height: $cell-size;
		display: inline-block;
		border-radius: 50%;
		margin-right: 5px;
	}

	.indent {
		width: $cell-size / 2;
		height: $cell-size;
		display: inline-block;
	}

	.red {
		background-color: $red-cell;
	}

	.blue {
		background-color: $blue-cell;
	}

	.empty {
		background-color: $empty-cell;
	}

	&:hover {
		opacity: 1;
	}
}

.extendable:hover .info {
	opacity: 0.7;
	cursor: pointer;
}

#absearch {
	ul {
		list-style-type: none;
	}
}

#select-player-wrap {
	h1 {
		text-align: center;
		margin: 50px 0;
	}

	input[type=number] {
		width: 39px;
		border-radius: 5px;
		border: none;
		background-color: #888;
		padding: 1px 0 1px 11px;
	}

	#player-setup {
		h2 {
			margin-top: 0;
		}

		input[type=number] {
			color: white;
		}

		.col-2 .container {
			width: 50%;
			min-width: 300px;
			margin: auto;
			padding: 30px;
			border-radius: 10px;
			color: white;
		}

		.player-Red .container {
			background-color: $red-cell;
		}

		.player-Blue .container {
			background-color: $blue-cell;
		}
	}

	#board-setup {
		margin-top: 50px;

		.container {
			max-width: 300px;
			margin: auto;
			text-align: center;
			background-color: $empty-cell;
			padding: 30px;
			border-radius: 10px;
		}
	}

	#start-button {
		.container {
			text-align: center;
			margin: 50px auto;
		}

		button {
			padding: 20px 30px;
			background-color: $blue-cell;
			border: none;
			border-radius: 10px;
			color: white;
			font-size: 16px;

			&:hover {
				background-color: $red-cell;
				cursor: pointer;
			}

			&:disabled {
				background-color: $empty-cell;
				color: black;
				cursor: default;
			}
		}
	}
}
