<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>MCTS</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://unpkg.com/vue"></script>
		<script src="visualize_mcts.js"></script>
		<script src="data.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<script type="text/x-template" id="item-template">
			<li>
				<div class="record"
					:class="{extendable : !isGoal}"
					@click="toggle"
					@mouseover="showBoard = true"
					@mouseleave="showBoard = false">
					<span v-if="!isGoal" class="expand-sign">[{{ open ? '-' : '+' }}]</span>
					<span v-if="showN" class="info-n">N: {{ model.value.N }},</span>
					<span v-if="showQ" class="info-q">Q: {{ model.value.Q}},</span>
					<span v-if="showLastPlayer" class="info-lp">lastPlayer: {{ model.value.state.lastPlayer }},</span>
					<span v-if="showGrid" class="info-g">grid: {{ model.value.state.grid }}</span>
					<div v-if="showBoard" class="info-b">
						<div v-for="(line, index) in model.value.state.grid">{{ drawLine(line, index) }}</div>
					</div>
				</div>

				<ul v-show="open" v-if="!isGoal">
					<item
					class="item"
					v-for="(model, index) in model.children"
					:key="index"
					:model="model"
					:show-n="showN"
					:show-q="showQ"
					:show-last-player="showLastPlayer"
					:show-grid="showGrid">
					</item>
				</ul>
			</li>
		</script>

		<div id="mcts">
			<input v-model.bool="showN" type="checkbox" id="showNcheck" name="showNcheck" value="showNcheck">
			<label for="showNcheck">show N</label>

			<input v-model.bool="showQ" type="checkbox" id="showQcheck" name="showQcheck" value="showQcheck">
			<label for="showQcheck">show Q</label>

			<input v-model.bool="showLastPlayer" type="checkbox" id="showLastPlayercheck" name="showLastPlayercheck" value="showLastPlayercheck">
			<label for="showLastPlayercheck">show last player</label>

			<input v-model.bool="showGrid" type="checkbox" id="showGridcheck" name="showGridcheck" value="showGridcheck">
			<label for="showGridcheck">show grid</label>

			<br/>

			<label for="sortBy">Sort by</label>
			<select v-model.string="sortBy" id="sortBy">
				<option value="q">Q value</option>
				<option value="n">N value</option>
			</select>

			<ul>
				<item
					class="item"
					:model="json"
					:show-n="showN"
					:show-q="showQ"
					:show-last-player="showLastPlayer"
					:show-grid="showGrid">
				</item>
			</ul>
		</div>
	</body>
</html>
